* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -100px auto 0 auto;
}

form h3 {
    margin-bottom: 30px;
}

form img {
    display: flex;
    width: 60px;
    height: auto;
    margin-bottom: 30px;
}


footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

footer p {
    width: 85%;
    font-size: 0.90em;
    text-align: center;
    padding-bottom: 15px;
    margin: auto;
}

input[type=text] , input[type=password], input[type=submit] {
    background-color: rgb(240, 240, 240);
    color: rgb(88, 88, 88);
    justify-content: center;
    display: flex;
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
}

input[type=submit] {
    background-color: rgb(0, 143, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

input[type=submit]:hover {
    transition: 0.30s;
    background-color: rgb(29, 86, 161);
}

.box-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(254, 184, 184);
    color: rgb(43, 43, 43);
    width: 70%;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 119, 119);
    text-align: center;
}


/* VALIDATIONS */

/* ---------------------------------------- */

.mayus-active {
    display: block;
    font-size: 0.80em;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    color: rgb(234, 89, 89);
    text-align: center;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.warning {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    color: rgb(234, 89, 89);
    font-size: 0.80em;
}

.warning-email , .warning-password-min {
    margin: -10px 0 3px 0;
}

.warning-password {
    margin: -15px 0 15px 0;
}

@media only screen and (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 65% 35%;
    }
}


@media only screen and (max-width: 750px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .description-container {
        display: none;
    }

    .login-container {
        grid-column: 1/3;
    }
}